//- ICON
  ------
  Creates an inline SVG.

  Parameters
  id {string}   The ID that is used to call the symbol. ID is equivalent to the icon-symbol ID set in `icon.pug`.

  Usage
  +icon({ id: 'close' })

//- internal helper
mixin _icon-svg({ id, width, height })
  - const viewBox = width && height ? `0 0 ${width} ${height}` : undefined;

  svg.icon(aria-hidden="true", class=`icon--${id}`, viewBox=viewBox)&attributes(attributes)
    if block
      block

mixin icon({ id })
  if id === 'close'
    +_icon-svg({ id, width: 24, height: 24 })&attributes(attributes)
      g(fill="currentColor", fill-rule="evenodd")
        path(d="M2.021 0H0v1.996L21.98 24H24v-1.994z")
        path(d="M21.979 0H24v1.996L2.02 24H0v-1.994z")

  if id === 'skip'
    +_icon-svg({ id, width: 12, height: 10 })&attributes(attributes)
      g(fill="#3A1D5B", fill-rule="evenodd")
        path(d="M3.01-.04L-.053.008 4.96 4.956 0 10.05 2.947 10 7.28 4.996z")
        path(
          d="M8.171 1.005l-2.505.04 4.101 3.921-4.058 4.04 2.41-.041 3.547-3.967z"
        ) 
