include ../components/navigation/_navigation.pug

doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1"
    )
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(
      name="description",
      content=`${page.description}`
    )
    title!=page.title

    link(rel="stylesheet", href="./index.css")

  body
    header.grid
      .main-content
        h1 Sweet Potato 🍠

    main.grid
      .main-content
        !=page.content
      .main-navigation
        +navigation(model.pages)


    script(type="module", src="./index.js")
