doctype html
html(lang=(globals.localeKey === 'default' ? 'en-US' : globals.localeKey))
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    
    block metas
      meta(name="description" content=(globals.meta.title || page.meta.title))
      title=`${globals.meta.title} | ${page.meta.title}`
      
    block styles
      link(rel="stylesheet" href=`${globals.RELATIVE_ROOT}/global.css`)
    
  body
    include ../components/navigation/navigation
    
    code
      pre!=JSON.stringify(globals, null, 2)
    
    code 
      pre!=JSON.stringify(page, null, 2)
      
    block main
    
    block scripts
      script(type="module" src=`${globals.RELATIVE_ROOT}/global.js`)
