//- STYLESHEET
  ------------
  Links either external or relative stylesheets located in `websites/assets/css/`. Used at the top of templates.

  Parameters
  filename {string}     Name of the stylesheet. This should not be appended with the file exstension (.scss etc.)
  isExternal {boolean}  Determines wether the stylesheet is external or not. 

  Usage
  +stylesheet({ filename: 'global' })
  +stylesheet({ filename: 'https://externalcss.com', isExternal: true })

mixin stylesheet({ filename, isExternal })
  - const path = isExternal ? filename : `${globals.RELATIVE_ROOT}/${filename}.css`;

  link(
    crossorigin=isExternal,
    href=path,
    rel="stylesheet"
  )
